<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <title>🌸日記🌸</title>
    <link rel="stylesheet" href="/style.css" />
    <script src="/scripts.js" defer></script>
  </head>
  <body>
    <header>
      <h1>📔日記を書く</h1>
      <div class="new-post-container">
        <form method="POST" action="/add" class="add-form">
          <input type="text" name="title" placeholder="タイトル..." required />
          <textarea
            name="content"
            placeholder="今日の内容..."
            required
          ></textarea>
          <button type="submit">保存</button>
        </form>
      </div>
    </header>

    <main>
      <% if (diary.length === 0) { %>
      <p class="empty">まだログはありません </p>
      <% } %> <% diary.forEach(diary => { %>
      <div class="card">
        <h2><%= diary.title %></h2>
        <p><%= diary.content %></p>
        <small>🕓 <%= diary.created_at %></small>

        <form
          action="/delete/<%= diary.id %>"
          method="POST"
          style="display: inline"
        >
          <button type="submit" class="delete">🗑️削除</button>
        </form>

        <button
          class="edit-btn"
          data-id="<%= diary.id %>"
          data-title="<%- diary.title %>"
          data-content="<%- diary.content %>"
        >
          ✏️ 編集
        </button>
      </div>
      <% }) %>
    </main>

    <!-- Modal edit -->
    <div id="editModal" class="modal">
      <div class="modal-content">
        <h3>編集日記</h3>
        <form id="editForm" method="POST">
          <input type="text" name="title" id="editTitle" required />
          <textarea name="content" id="editContent" required></textarea>
          <div class="modal-buttons">
            <button type="submit" class="save-btn">保存</button>
            <button type="button" class="cancel-btn" onclick="closeEdit()">
              閉じる
            </button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
